################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/Source/WPFByYourCommand/obj
/Source/WPFByYourCommand/bin
/Source/WPFByYourCommand/.vs/WPFByYourCommand/v16/Server/sqlite3
/Source/.vs/WPFByYourCommand/v16
