################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/Source/WPFByYourCommand/obj
/Source/WPFByYourCommand/bin
